 @font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf); 
    font-style: normal;
} 

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-LightItalic.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@media (max-width:700px){
    header, footer{
        flex-direction: column;
    }

    .section1{
        flex-direction: column;
    }

    .container{
        width: 100%;
        display: flex;
        padding-bottom: 20px;
        flex-direction: column;
    }


    nav{
        padding: 10px 0px;
    }
}

html, body{
    font-family: "Roboto", sans-serif;
    margin: 0;
	padding: 0;
	border: 0;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}
main{
    height: 60%;
    margin-top: 100px;
}

header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    position:fixed;
    left: 0;
    right: 0;
    top:0;
    min-height: 90px;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
                font-size: 18px;
			}
				nav ul li a:hover {
					color: #3882f6;
				}


/* index page */
.section1{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: stretch;
    color: #e5e7eb;
    font-size: 18px;
    max-height: fit-content;
}

.titleHeader{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: inherit;
}

.container{
    min-width: 50%;
}

.container img{
    width: 90%;
    float: right;
}


.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    justify-content: center;
    text-align: center;
}
    .section2 img{
        width: 150px;
    }
    .section2 h2{
        font-size: 36px;
        font-weight: bold;
    }

.items{  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
    .items div{
        align-items: center;
        width: 150px;
        padding: 2em;
    }

.section3{
    background-color: #e5e7eb;
    padding: 50px;
}

    .section3 p{
        font-weight: bold;
        text-align: end;
        margin-right: 50px;
    }

blockquote{
    font-style: italic;
    font-size: 36px;
    margin-bottom: inherit;
}

.section4{
    display: flex;
    background-color: #3882f6;
    margin: 100px;
    border-radius: 1em;
    justify-content: space-around;
    align-items: center;
    color:white;
    padding: 20px;
}

    .section4 div{
        margin: 20px  20px ; 
        line-height: 0;
    }

    .section4 p{
        color: #e5e7eb;
    }

    .section4 button{
        border-style: solid;
        border-color: white
    }


button{
    background-color: #3882f6 ;
    border-radius: 15px;
    font-size: 18px;
    color:white;
    padding: 10px 30px 10px 30px;
    border: none;
}

button:hover{
    background-color: #305ba0;
}

footer{
    background-color: #1F2937;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#F9FAF8;
    font-size: small;
    height: 20%;
}

footer img{
    width: 40px;
    padding-left: 10px;
}

.contact{
    display: flex;
    flex-direction: column; 
}

/* Page Courses */

.containerCourses{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.containerCourses .card{
    width: 350px;
    box-shadow:0 2px 2px #305ba0;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.containerCourses .card:hover{
    transform: translateX(-15px);
    box-shadow:0 10px 10px #1F2937;
}

.containerCourses .card img{
    width: 90%;
    height: 50%;
}

.containerCourses .card a{
    color: #1F2937;
}


/* Page About */

.titlePages{
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.ourTeachers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;
    align-content: space-between;
}

.teachers{
    width: 190px;
    margin: 20px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
    .teachers img{
        height: 175px;
        width: 175px;
        border-radius: 50%;
    }
    .teachers p{
        width: 175px;
        text-align: center;
    }
    #logo{
        width: 40px;
        height: auto;
    }
    #logo:hover{
        transform: translateY(-10px);
        box-shadow:5px 0 5px 0 #305ba0;
    }